/* Geral */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.card.alert-incendio {
  background-color: #ff4d4d; /* Vermelho para incêndio */
  border-color: #cc0000;
}

.card.alert-muito-acima {
  background-color: #ff9999; /* Tons mais claros */
  border-color: #cc6666;
}

.card.alert-acima {
  background-color: #ffcc99;
  border-color: #cc9966;
}

.card.alert-parcial-acima {
  background-color: #ffe6cc;
  border-color: #ccb399;
}

.card.alert-muito-abaixo {
  background-color: #99ccff; /* Azul claro */
  border-color: #6699cc;
}

.card.alert-abaixo {
  background-color: #99e6ff;
  border-color: #66b3cc;
}

.card.alert-parcial-abaixo {
  background-color: #ccf2ff;
  border-color: #99d6ff;
}
.warningIncendio {
  color: red;
  font-weight: bold;
}

.warningAlertAscAlt {
  color: rgb(255, 81, 0);
  font-weight: bold;
}

.warningAlertAsc {
  color: orange;
  font-weight: bold;
}

.warningAlertAscParc {
  color: yellow;
  font-weight: bold;
}

.warningAlertDecAlt {
  color: blue;
  font-weight: bold;
}

.warningAlertDec{
  color: rgb(0, 174, 255);
  font-weight: bold;
}

.warningAlertDecParc {
  color: rgb(0, 255, 213);
  font-weight: bold;
}
/* Título */
.title {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
  color: #333;
}

/* Contêiner de cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

/* Estilo dos cards */
.card {
  width: 300px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.temperature-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.temperature-settings {
  display: flex;
  flex-direction: column; /* Ou "row" para lado a lado */
  align-items: center;
  gap: 15px; /* Espaçamento entre os campos */
}

.temperature-settings label {
  font-size: 16px;
}

.temperature-settings input {
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
  width: 60px;
}
